# Operaciones con conjuntos #

## Pizza Time!! ##

In [1]:
CREATE DATABASE pizzeria
GO

use pizzeria
GO

create table [serves] (
[pizzeria] [nvarchar] (50),
[pizza] [nvarchar] (50),
[price] [money]);


insert [serves] ([pizzeria],[pizza],[price])
values 
( 'Pizza Hut','pepperoni',12.0000 ),
( 'Pizza Hut','sausage',12.0000 ),
( 'Pizza Hut','cheese',9.0000 ),
( 'Pizza Hut','supreme',12.0000 ),
( 'Little Caesars','pepperoni',10.0000 ),
( 'Little Caesars','sausage',10.0000 ),
( 'Little Caesars','cheese',7.0000 ),
( 'Little Caesars','mushroom',9.0000 ),
( 'Dominos','cheese',10.0000 ),
( 'Dominos','mushroom',11.0000 ),
( 'Straw Hat','pepperoni',8.0000 ),
( 'Straw Hat','cheese',9.0000 ),
( 'Straw Hat','sausage',10.0000 ),
( 'New York Pizza','pepperoni',8.0000 ),
( 'New York Pizza','cheese',7.0000 ),
( 'New York Pizza','supreme',9.0000 ),
( 'Chicago Pizza','cheese',8.0000 ),
( 'Chicago Pizza','supreme',9.0000);

create table [eats] (
[name] [nvarchar] (50),
[pizza] [nvarchar] (50));

insert [eats] ([name],[pizza])
values
( 'Amy','pepperoni' ),
( 'Amy','mushroom' ),
( 'Ben','pepperoni' ),
( 'Ben','cheese' ),
( 'Cal','supreme' ),
( 'Dan','pepperoni' ),
( 'Dan','cheese' ),
( 'Dan','sausage' ),
( 'Dan','supreme' ),
( 'Dan','mushroom' ),
( 'Eli','supreme' ),
( 'Eli','cheese' ),
( 'Fay','mushroom' ),
( 'Gus','mushroom' ),
( 'Gus','supreme' ),
( 'Gus','cheese' ),
( 'Hil','supreme' ),
( 'Hil','cheese' ),
( 'Ian','supreme' ),
( 'Ian','pepperoni');

create table [frequents] (
[name] [nvarchar] (50),
[pizzeria] [nvarchar] (50));


insert [frequents] ([name],[pizzeria])
values
( 'Amy','Pizza Hut' ),
( 'Ben','Pizza Hut' ),
( 'Ben','Chicago Pizza' ),
( 'Cal','Straw Hat' ),
( 'Cal','New York Pizza' ),
( 'Dan','Straw Hat' ),
( 'Dan','New York Pizza' ),
( 'Eli','Straw Hat' ),
( 'Eli','Chicago Pizza' ),
( 'Fay','Dominos' ),
( 'Fay','Little Caesars' ),
( 'Gus','Chicago Pizza' ),
( 'Gus','Pizza Hut' ),
( 'Hil','Dominos' ),
( 'Hil','Straw Hat' ),
( 'Hil','Pizza Hut' ),
( 'Ian','New York Pizza' ),
( 'Ian','Straw Hat' ),
( 'Ian','Dominos');

create table [person] (
[name] [nvarchar] (50),
[age] [tinyint],
[gender] [nvarchar] (50));


insert [person] ([name],[age],[gender])
values 
( 'Amy',16,'female' ),
( 'Ben',21,'male' ),
( 'Cal',33,'male' ),
( 'Dan',13,'male' ),
( 'Eli',45,'male' ),
( 'Fay',21,'female' ),
( 'Gus',24,'male' ),
( 'Hil',30,'female' ),
( 'Ian',18,'male');

## 1 ## 
Nombre de las personas con edad menor que 40 años que solamente comen pizzas ´suppreme´.

In [2]:
use pizzeria

select name from person
where age <40
EXCEPT
select name from eats
where pizza != 'supreme'

name
Cal

## 2 ##
Nombre de las pizzerías que solamente sirven pizzas con precio mayor que 10.

In [25]:
use pizzeria

select pizzeria from serves
except
SELECT pizzeria FROM serves
where price < 10

select * from serves

pizzeria
Dominos

pizzeria,pizza,price
Pizza Hut,pepperoni,12.00
Pizza Hut,sausage,12.00
Pizza Hut,cheese,9.00
Pizza Hut,supreme,12.00
Little Caesars,pepperoni,10.00
Little Caesars,sausage,10.00
Little Caesars,cheese,7.00
Little Caesars,mushroom,9.00
Dominos,cheese,10.00
Dominos,mushroom,11.00
Straw Hat,pepperoni,8.00
Straw Hat,cheese,9.00
Straw Hat,sausage,10.00
New York Pizza,pepperoni,8.00
New York Pizza,cheese,7.00
New York Pizza,supreme,9.00
Chicago Pizza,cheese,8.00
Chicago Pizza,supreme,9.00

## 3 ##
Nombre de las pizzerías que son frecuentadas solamente por personas mayores de 18 años.

In [39]:
use pizzeria
select pizzeria from frequents
EXCEPT
select name from person
where age < 18

pizzeria
Chicago Pizza
Dominos
Little Caesars
New York Pizza
Pizza Hut
Straw Hat

## 4 ##
Mostrar el nombre de las personas con la edad mayor que comen pizza de peperoni.

In [3]:
use pizzeria
SELECT name 
FROM eats 
WHERE pizza = 'pepperoni' 
INTERSECT 
SELECT name 
FROM person 
WHERE age > 18;

name
Ben

## 5 ##
Mostrar el nombre de las personas con la edad menor que comen en la pizzería chicago pizza.

## 6 ##
Mostrar las pizzas cuyo costo es mayor que 10 o que comen en común Eli y Gus.

In [4]:
USE pizzeria

select pizza 
from serves
where price > 10
union
SELECT pizza from
eats
WHERE name = 'GUS' 
intersect
SELECT pizza from
eats
WHERE name = 'Eli'

pizza
cheese
mushroom
pepperoni
sausage
supreme

## 7 ## 
Mostrar el nombres de las personas que no comen pizzas de ´cheese´

In [5]:
USE pizzeria
select name from eats
except
select name from eats
where pizza = 'chesse'

name
Amy
Ben
Cal
Dan
Eli
Fay
Gus
Hil
Ian

## 8 ## 
Mostrar las pizzas cuyo costo es mayor que 10 y que comen Eli y Gus.

In [24]:
use pizzeria

select distinct name, eats.pizza from eats 
inner join serves on eats.pizza = serves.pizza
where name = 'Amy' or name = 'Eli'
AND price > 10

name,pizza
Amy,mushroom
Amy,pepperoni
Eli,supreme

## 9 ##
Mostrar las pizzerías que solamente sirven a personas mayores de 30 años.

In [30]:

use pizzeria
select pizzeria from frequents
INTERSECT
select name from person
where age < 30

select person.name, person.age,pizzeria from frequents
inner join person on frequents.name = person.name

name,age,pizzeria
Amy,16,Pizza Hut
Ben,21,Pizza Hut
Ben,21,Chicago Pizza
Cal,33,Straw Hat
Cal,33,New York Pizza
Dan,13,Straw Hat
Dan,13,New York Pizza
Eli,45,Straw Hat
Eli,45,Chicago Pizza
Fay,21,Dominos
Fay,21,Little Caesars
Gus,24,Chicago Pizza
Gus,24,Pizza Hut
Hil,30,Dominos
Hil,30,Straw Hat
Hil,30,Pizza Hut
Ian,18,New York Pizza
Ian,18,Straw Hat
Ian,18,Dominos

## 10 ##
Mostrar el nombre de la pizza mas barata.

In [32]:
use pizzeria 
select TOP 1  * from serves
order by price asc

pizzeria,pizza,price
Little Caesars,cheese,7.00